body, html {
	font-family: 'Gill Sans', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.blok1 {
	background-image: url("banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 300px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00FA9A;
}
li {
	float: left;
}
li a {
	display: block;
	color: #F5FFFA;
	text-align: center;
	padding: 20px 50px;
	text-decoration: none;
}
li a:hover {
	background-color: #40E0D0;
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #27318b;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.vijesti img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.vijesti h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #00BFFF;
}
.vijesti hr {
	margin: 1em;
	border: 1px dashed #27318b;
	clear: both;
}
.vijesti time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
footer {
	background-color: #20B2AA;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.vijesti img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.vijesti time {
		margin: 0 0 0 1em;
	}
}
